<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
  <!-- The root element of the vue.js  app  -->
  <div id="app">
    <form @submit.prevent="addUser">
      <label for="name">Name:</label>
      <input type="text" v-model="newUser.name" id="name"/>
     <br>
     <label for="email">Email:</label>
     <input type="email"  v-model="newUser.email" id="email"/>
     <br>
     <label for="city">City:</label>
     <input type="text"  v-model="newUser.city" id="city"/>
     <br>
     <button type="submit">Add user</button>
    </form>
  <table border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="user in users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.city}}</td>
      </tr>
    </tbody>
  </table>
  </div>


  <script>
    new Vue({
      el:"#app",
      data:{
        users:[
          {id:1,name:"John",email:"john@gmail.com",city:"Mumbai"},
          {id:2,name:"jenny",email:"jenny@gmail.com",city:"Delhi"},
          {id:3,name:"Sohan",email:"sohan@gmail.com",city:"Bengaluru"},
          {id:4,name:"Mohan",email:"mohan@gmail.com",city:"Chennai"},
          {id:5,name:"Joe",email:"Joe@gmail.com",city:"Pune"},
        ],
        newUser:{
          name:"",
          email:"",
          city:"",
        }
      },
      methods:{
        addUser(){
          //Generate a new ID for the user 
          this.newUser.id=Math.max(...this.users.map(user=>user.id))+1

          //Add a new user to user array 
          this.users.push(this.newUser);

          //Reset the user form 
          this.newUser={
            name:"",
            email:"",
            city:"",
          }
        }
      }
    })
  </script>
   
    
</body>
</html>