body{
    background: rgb(252, 252, 133);
}

main{
    margin-left: 400px
}

#person-img{
    border: 2px solid rgb(0, 85, 255);
    border-radius: 50%;
    height: auto;
    width: auto;
    display: block;
}

h1{
    color:rgb(42, 63, 203);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

#author,#job{
    color: rgb(249, 48, 88);
    font-weight: bolder;
    font-family: cursive;
}

#info{
    background-color: rgb(131, 131, 252);
    border: 2px solid black;
    width:500px;
    border-radius: 20px;
}